<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- title will change on button click event-->
  <h1>{{ title }}</h1>

  <router-outlet></router-outlet>

  <!--

test is a function. an event from the test component(App-Test)
is captured via (childEvent) and the value emitted through the event 
is then passed to the the function call tester.

[Data] ="name" passes the value of the name variable over to the test(App-Test) component

-->
  <app-test (childEvent)="tester($event)" [Data]="name"></app-test>
</div>
